server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/weatherdb
    username: postgres
    password: Navee123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: Gk9f4lQvT2s8jRzB1nH6pW3yX7eS0aK9
  expiration: 3600000

mail:
  host: smtp.gmail.com
  port: 587
  username: your-email@gmail.com
  password: your-email-password
  properties:
    mail:
      smtp:
        auth: true
        starttls.enable: true
